.store-breadcrumbs {
  font-size: 18px;

  .breadcrumb {
    background-color: transparent;
    padding: 15px 5px;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 1rem 0 1rem;
  }
  li.breadcrumb-item {
    margin-bottom: 15px !important;
  }
  a {
    // color: #979797 !important;
    color: #fffffe;
  }
  .breadcrumb-item.active {
    // color: #0c0d36;
    color: #a7a9be;
  }
}
