// text header
.categories-image img {
  border-radius: 10px;
}
.category-all {
  margin-top: -15px !important;
}
.page-content {
  margin: 30px 0 30px;
  .all-category-product {
    margin-bottom: 30px;
  }
  .row {
    margin: 0;
    padding: 0;
  }
  .header-title {
    margin-top: 50px;
    .all-category-product {
      color: #fffffe;
    }
  }
}

.component-categories {
  border-radius: 8px;
  background-color: #f4f4f4;
  padding: 30px 30px 10px 30px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;

  &:hover {
    transform: scale(1.09);
    text-decoration: none;
  }

  .categories-text {
    font-size: 1.14286rem;
    text-align: center;
    color: #0f0e17;
    margin-top: 12px;
  }
}

// product on category
#category-show {
  margin-top: -400px !important;
  // .product-on-category {
  // }
}

@media (max-width: 774px) {
  #category-show {
    span.text-product-header {
      font-size: 18px;
    }
    div.alert {
      h4 {
        font-size: 18px;
      }
    }
  }
}
