// show dashboard
#dashboard-show {
  .col-bread {
    padding: 0 !important;
  }
  .card-body {
    padding: 20px 0;
  }
  .order-details {
    padding: 0;
  }
  .card-img {
    max-width: 250px;
    padding: 3px;
    &:hover {
      border: 1px solid #fd4771;
      padding: 1.5px;
      border-radius: 8px;
    }
    .image-detail-order {
      width: 100%;
      border-radius: 8px;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.5);
        }
      }
      img {
        width: 100% !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.7s ease;
      }
    }
  }
  .store-breadcrumbs {
    margin-top: -510px !important;
  }
  .dashboard-heading-show {
    margin-top: -100px;
    margin-bottom: 50px;
    .dashboard-title {
      font-style: normal;
      font-weight: normal;
      color: #fffffe;
    }
    .dashboard-subtitle {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      color: #9191a9;
    }
  }
  // dashboard-transactions
  .dashboard-content-show {
    h5 {
      color: #232946;
    }
    margin-bottom: 100px !important;
    .product-title {
      font-weight: normal;
      font-size: 16px;
      color: #c5c5c5;
      line-height: 28px;
    }
    .product-subtitle {
      line-height: 30px;
      font-weight: 500;
      font-size: 18px;
      color: #232946;
      margin-bottom: 20px;
    }
  }
  .shadow {
    padding: 10px;
  }
  .card-list {
    background: #e5e5e5;
    margin-bottom: 10px;
    .card-body {
      font-weight: normal;
      font-size: 18px;
      line-height: 40px;
      color: #0c0d36;

      .img-list {
        width: 70px !important;
      }
    }
  }
}

// dashboard
#dashboard {
  .store-breadcrumbs {
    .breadcrumb {
      margin-top: -80px !important;
    }
  }
  .dashboard-heading {
    .sub {
      margin-top: 20px;
    }

    .dashboard-title {
      font-style: normal;
      font-weight: normal;
      color: #fffffe;
    }
    .dashboard-subtitle {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      color: #9191a9;
    }
  }

  // dashboard-transactions
  .dashboard-content {
    .border-0 {
      padding: 10px 0px;
    }
    .nav-pills {
      .nav-link {
        font-weight: normal;
        font-size: 18px;
        color: #9191a9;
        border-radius: 0;
        padding: 0 5px;

        &.active {
          font-weight: 500;
          font-size: 18px;
          color: #0c0d36;
          border-bottom: 3px solid #0c0d36;
          background: none;
        }
      }
    }
    // dashboard-products-details
    .gallery-container {
      .delete-gallery {
        display: block;
        position: absolute;
        top: -10px;
        right: 0;
      }
    }

    // dashboard-transactions-details
    .product-title {
      font-weight: normal;
      font-size: 16px;
      color: #c5c5c5;
      line-height: 28px;
    }
    .product-subtitle {
      line-height: 30px;
      font-weight: normal;
      font-size: 18px;
      color: #0c0d36;
      margin-bottom: 20px;
    }
  }
  .card-list {
    background: #e5e5e5;
    margin-bottom: 10px;
    .card-body {
      font-weight: normal;
      font-size: 18px;
      line-height: 40px;
      color: #0c0d36;

      .img-list {
        width: 70px !important;
      }
    }
  }
}
