.content-detail {
  color: #2e2f3e;
  text-align: justify;
}

.store-gallery {
  .table-detail {
    color: #2e2f3e;
    font-weight: 500;
    .badge-stock {
      background: #0f0e17;
      color: #fffffe;
      font-weight: lighter;
    }
    .badge-berat {
      background: #f25f4c;
      color: #fffffe;
      font-weight: lighter;
    }
  }
  .card-details-mobile {
    padding: 0 !important;
    margin-top: 30px;
    .store-heading {
      h5 {
        margin-bottom: 20px;
      }
      .product-header {
        font-size: 25px;
      }
    }
  }
  .badge-custom {
    background: #e53170;
    color: #fffffe;
    padding: 6px;
  }
  .product-price-coret {
    color: #e53170;
    font-weight: 500;
    font-size: 15px;
  }
  .img-store {
    cursor: pointer;
    border-radius: 8px;
  }

  .img-thumbnail {
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 12px;
  }
  .img-thumbnail.active {
    border: 2px solid #e53170;
  }
  .store-heading {
    h5 {
      margin: -20px 0 0 0;
      color: #2e2f3e;
      font-weight: 600;
      font-size: 18px;
    }
    .product-header {
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      color: #0f0e17;
    }
    .subtitle {
      font-size: 14px;
      line-height: 21px;
      color: #979797;
    }
    .price {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 10px;
      color: #e53170;
    }
    .btn-checkout {
      width: 100%;
      height: 45px;
      background-color: #ff8906;
      color: #fffffe;
      font-weight: lighter;
    }
  }
  .description {
    .content-store {
      margin: 40px 0 50px;
      .nav-link {
        margin-bottom: 20px;
        color: #2e2f3e;
        padding: 8px 18px !important;
        font-weight: normal;
      }
      .nav-pills {
        .nav-item {
          a.nav-link.active {
            background-color: transparent;
            color: #e53170;
          }
          .detail {
            color: #123049;
            font-size: 18px;
          }
        }
      }
      .tab-content {
        .card-review {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 15px 10px;
          h5 {
            color: #123049;
            margin-top: 10px !important;
          }
          p {
            margin-bottom: 0;
            margin-top: 15px;
            color: #232f51;
          }
        }
        span.text-descripsi {
          line-height: 30px;
          font-size: 18px;
        }
        table {
          thead {
            background: #f8f5f2;
          }
          tbody {
            &:hover {
              background: #f8f5f2;
            }
          }
        }
        table.table-detail {
          tbody {
            &:hover {
              background-color: transparent !important;
            }
          }
        }
      }

      .readmore {
        cursor: pointer;
        color: #e53170;
        text-decoration: underline;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 500;
      }
      h3 {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 25px;
          width: 120px;
          margin-left: 3px;
          height: 2px;
          background-color: #e53170;
        }
      }
    }
  }
  .term-service {
    text-align: justify;
    ul {
      padding-left: 0;
    }
  }
}

@media (max-width: 1979.98px) {
  .store-gallery {
    margin-top: 30px !important;
    .img-store {
      cursor: pointer;
      border-radius: 8px;
      margin-bottom: 15px;
    }
    .img-thumbnail {
      cursor: pointer;
      margin-bottom: 10px;
    }
    .img-thumbnail.active {
      border: 2px solid palevioletred;
    }
    .store-heading {
      margin-top: 20px;
    }
    .description {
      margin: 20px 0 30px;
    }
  }
}

@media (max-width: 767.98px) {
  .store-gallery {
    // margin-top: -50px !important;
    .description {
      .content-store {
        margin: 40px 0 50px;
        .detail {
          margin: 30px 0 30px;
        }
        .nav-link {
          margin-bottom: 20px;
          color: #2e2f3e;
          padding: 8px 10px !important;
          font-weight: normal;
        }
        .tab-content {
          .card-review {
            border: 1px solid rgba(0, 0, 0, 0.075);
            border-radius: 8px;
            padding: 15px 5px;
            h5 {
              font-weight: 500;
              font-size: 18px;
            }
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .col-detail {
    padding: 0;
    .card {
      padding: 15px;
    }
  }
  .product-header {
    font-size: 20px !important;
  }
}
