.content {
  color: #2e2f3e;
}

.store-gallery {
  .table-detail {
    color: #2e2f3e;
    font-weight: 500;
    .badge-stock {
      background: #0f0e17;
      color: #fffffe;
      font-weight: lighter;
    }
    .badge-berat {
      background: #f25f4c;
      color: #fffffe;
      font-weight: lighter;
    }
  }
  .card-details-mobile {
    padding: 0;
    margin-top: 30px;
    .store-heading {
      h5 {
        margin-bottom: 20px;
      }
      .product-header {
        font-size: 25px;
      }
    }
  }
  .badge-custom {
    background: #e53170;
    color: #fffffe;
    padding: 6px;
  }
  .product-price-coret {
    color: #e53170;
    font-weight: 500;
    font-size: 15px;
  }
  .img-store {
    cursor: pointer;
    border-radius: 8px;
  }

  .img-thumbnail {
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 12px;
  }
  .img-thumbnail.active {
    border: 2px solid #e53170;
  }
  .store-heading {
    h5 {
      margin: -20px 0 0 0;
      color: #2e2f3e;
      font-weight: 600;
      font-size: 18px;
    }
    .product-header {
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      color: #0f0e17;
    }
    .subtitle {
      font-size: 14px;
      line-height: 21px;
      color: #979797;
    }
    .price {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 10px;
      color: #e53170;
    }
    .btn-checkout {
      width: 100%;
      height: 45px;
      background-color: #ff8906;
      color: #fffffe;
      font-weight: lighter;
    }
  }
  .description {
    .content-store {
      margin: 40px 0 50px;
      .nav-link {
        margin-bottom: 20px;
        // color: rgb(3, 172, 14);
        color: #2e2f3e;
        padding-right: 20px !important;
      }
      .nav-pills {
        .nav-item {
          a.nav-link {
            padding: 0 40px 0 0px;
          }
          a.nav-link.active {
            background-color: transparent;
            color: #e53170;
            &::before {
              content: "";
              position: absolute;
              top: 15px;
              width: 90px;
              height: 9px;
              background-color: rgba(197, 16, 76, 0.151) !important;
            }
          }
          .detail {
            color: #0f0e17;
            font-weight: 500;
            font-size: 18px;
            position: relative;
          }
        }
      }
      .tab-content {
        span.text-descripsi {
          line-height: 30px;
          font-size: 18px;
        }
        table {
          thead {
            background: #f8f5f2;
          }
          tbody {
            &:hover {
              background: #f8f5f2;
            }
          }
        }
        table.table-detail {
          tbody {
            &:hover {
              background-color: transparent !important;
            }
          }
        }
      }

      .readmore {
        cursor: pointer;
        color: #e53170;
        text-decoration: underline;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 500;
      }
      h3 {
        font-size: 18px;
        font-weight: 500;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 25px;
          width: 120px;
          margin-left: 3px;
          height: 2px;
          background-color: #e53170;
        }
      }
    }
  }
}

@media (max-width: 1979.98px) {
  .store-gallery {
    margin-top: 30px !important;
    .img-store {
      cursor: pointer;
      border-radius: 8px;
      margin-bottom: 15px;
    }
    .img-thumbnail {
      cursor: pointer;
      margin-bottom: 10px;
    }
    .img-thumbnail.active {
      border: 2px solid palevioletred;
    }
    .store-heading {
      margin-top: 20px;
    }
    .description {
      margin: 20px 0 30px;
    }
  }
}

@media (max-width: 767.98px) {
  .store-gallery {
    // margin-top: -50px !important;
    .description {
      .detail {
        margin: 30px 0 30px;
      }
    }
  }
  .product-header {
    font-size: 21px !important;
  }
}
