body {
  font-family: "Poppins", sans-serif;
  // background: #232946;
  /* #232946 */
  // #fffffe;
}

#detail,
#cart,
#dashboard,
#category {
  margin-top: -400px;
}
#dashboard-show {
  margin-top: 100px;
}

.details-header {
  padding: 0 !important;
  min-height: 450px;
  background: #232946;
  margin-top: 0px;
}
.btn-signup {
  background-color: #ececec;
}
.details-header-show {
  padding: 0 !important;
  min-height: 600px;
  background: #232946;
  margin-top: 0px;
}

.chat-box {
  width: 70px;
  height: 70px;
  background: #232946;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  transition: all 0.2s ease-in-out;

  img {
    height: 36px;
    margin-top: 15px;
    margin-left: 15px;
  }
  &:hover {
    transition: all 0.5s;
    background: #4c436b;
    box-shadow: 10px 10px 44px 16px rgba(0, 0, 0, 0.26%);
    bottom: 50px;
  }
}

.mt-global {
  margin-top: 140px !important;
}

/* scrom */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #16161a;
}

::-webkit-scrollbar-thumb {
  background: #f2ad5f;
  border-radius: 15px;
  &:hover {
    background: #986121;
  }
}

/* firefox */
:root {
  overflow-y: scroll;
  scrollbar-color: #f2ad5f #16161a !important;
  scrollbar-width: thin !important;
}
