.midtrans {
  margin-top: 100px !important;
  .text-header {
    font-weight: bold;
    font-size: 32px;
    color: #123049;
  }
  .content {
    margin-top: 20px;
    color: #7686ab;
    ul {
      padding-left: 0;
      li {
        img {
          margin-right: 20px !important;
        }
        list-style: none;
        margin-top: 20px;
        color: #232f51;
        font-weight: 500;
      }
    }
  }
}

.keamanan {
  margin-top: 100px;
  .col-info {
    .title {
      color: #123049;
      font-weight: 500;
      font-size: 16px;
    }
    .subtitle {
      color: #7686ab;
      font-size: 14px;
      margin-top: 10px;
    }
    .img-info {
      width: 98px;
      height: 98px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}
