@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Poppins", sans-serif;
  /* #232946 */
}

#detail,
#cart,
#dashboard,
#category {
  margin-top: -400px;
}

#dashboard-show {
  margin-top: 100px;
}

.details-header {
  padding: 0 !important;
  min-height: 450px;
  background: #232946;
  margin-top: 0px;
}

.btn-signup {
  background-color: #ececec;
}

.details-header-show {
  padding: 0 !important;
  min-height: 600px;
  background: #232946;
  margin-top: 0px;
}

.chat-box {
  width: 70px;
  height: 70px;
  background: #232946;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.chat-box img {
  height: 36px;
  margin-top: 15px;
  margin-left: 15px;
}

.chat-box:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #4c436b;
  -webkit-box-shadow: 10px 10px 44px 16px rgba(0, 0, 0, 0.26);
          box-shadow: 10px 10px 44px 16px rgba(0, 0, 0, 0.26);
  bottom: 50px;
}

.mt-global {
  margin-top: 140px !important;
}

/* scrom */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #16161a;
}

::-webkit-scrollbar-thumb {
  background: #f2ad5f;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #986121;
}

/* firefox */
:root {
  overflow-y: scroll;
  scrollbar-color: #f2ad5f #16161a !important;
  scrollbar-width: thin !important;
}

.navbar {
  background: #fffffe;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  margin: 0 70px;
  padding: 10px 15px;
  border-radius: 0 0 8px 8px;
}

.navbar .navbar-nav .nav-link {
  color: #0c0d36;
  margin: 0 8px;
}

.navbar .navbar-nav .active {
  color: #fd4771 !important;
}

.navbar .navbar-nav .nav-item .profile-picture {
  width: 50px;
}

.navbar .navbar-nav .nav-item .cart {
  margin-top: 0 !important;
  position: relative;
}

.navbar .navbar-nav .nav-item .cart .cart-badge {
  position: absolute;
  top: 0;
  display: inline-block;
  min-width: 2em;
  padding: 0.2em;
  border-radius: 50%;
  font-size: 13px;
  text-align: center;
  background-color: #29a867;
  color: #ffffff;
  margin-left: -25px;
}

.navbar .nav-profile {
  margin-left: 30px !important;
}

.navbar .btn-success {
  width: 120px;
  height: 45px;
  font-size: 16px;
  margin-left: 30px;
}

.navbar .btn-success:hover {
  background: #fff;
  color: #0c0d36;
  border-width: 2px;
  -webkit-box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.2);
}

.navbar-hidden {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

@media (max-width: 1199.98px) {
  .navbar {
    padding: 10px 10px;
  }
  .navbar .btn-success {
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .navbar {
    margin: 0 15px;
    padding: 15px 20px 15px;
  }
  .navbar .navbar-nav {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .navbar a.nav-link,
  .navbar a.nav-link.btn.cart {
    margin-top: 20px !important;
  }
  .navbar li.nav-item.dropdown {
    margin: 20px 0;
  }
}

@media (max-width: 575.98px) {
  .navbar {
    margin: 0;
    padding: 5px 10px;
  }
  .navbar .nav-item {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .navbar a.nav-link,
  .navbar a.nav-link.btn.cart {
    margin-top: 20px !important;
  }
  .navbar li.nav-item.dropdown {
    margin: 20px 0;
  }
}

#home,
#detail,
#cart,
#category,
#category-show,
#category,
#product,
#dashboard,
#dashboard-show {
  padding: 0 85px;
}

@media (max-width: 1199.98px) {
  #home,
  #detail,
  #cart,
  #category,
  #category-show,
  #category,
  #product,
  #dashboard,
  #dashboard-show {
    padding: 0 50px !important;
  }
}

@media (max-width: 767.98px) {
  #home,
  #detail,
  #cart,
  #category,
  #category-show,
  #category,
  #product,
  #dashboard,
  #dashboard-show {
    padding: 0 20px !important;
  }
}

@media (max-width: 575.98px) {
  #home,
  #detail,
  #cart,
  #category,
  #product,
  #category-show,
  #category,
  #dashboard,
  #dashboard-show {
    padding: 0 12px !important;
  }
}

.content {
  color: #2e2f3e;
}

.store-gallery .table-detail {
  color: #2e2f3e;
  font-weight: 500;
}

.store-gallery .table-detail .badge-stock {
  background: #0f0e17;
  color: #fffffe;
  font-weight: lighter;
}

.store-gallery .table-detail .badge-berat {
  background: #f25f4c;
  color: #fffffe;
  font-weight: lighter;
}

.store-gallery .card-details-mobile {
  padding: 0;
  margin-top: 30px;
}

.store-gallery .card-details-mobile .store-heading h5 {
  margin-bottom: 20px;
}

.store-gallery .card-details-mobile .store-heading .product-header {
  font-size: 25px;
}

.store-gallery .badge-custom {
  background: #e53170;
  color: #fffffe;
  padding: 6px;
}

.store-gallery .product-price-coret {
  color: #e53170;
  font-weight: 500;
  font-size: 15px;
}

.store-gallery .img-store {
  cursor: pointer;
  border-radius: 8px;
}

.store-gallery .img-thumbnail {
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 12px;
}

.store-gallery .img-thumbnail.active {
  border: 2px solid #e53170;
}

.store-gallery .store-heading h5 {
  margin: -20px 0 0 0;
  color: #2e2f3e;
  font-weight: 600;
  font-size: 18px;
}

.store-gallery .store-heading .product-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #0f0e17;
}

.store-gallery .store-heading .subtitle {
  font-size: 14px;
  line-height: 21px;
  color: #979797;
}

.store-gallery .store-heading .price {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  color: #e53170;
}

.store-gallery .store-heading .btn-checkout {
  width: 100%;
  height: 45px;
  background-color: #ff8906;
  color: #fffffe;
  font-weight: lighter;
}

.store-gallery .description .content-store {
  margin: 40px 0 50px;
}

.store-gallery .description .content-store .nav-link {
  margin-bottom: 20px;
  color: #2e2f3e;
  padding-right: 20px !important;
}

.store-gallery .description .content-store .nav-pills .nav-item a.nav-link {
  padding: 0 40px 0 0px;
}

.store-gallery .description .content-store .nav-pills .nav-item a.nav-link.active {
  background-color: transparent;
  color: #e53170;
}

.store-gallery .description .content-store .nav-pills .nav-item a.nav-link.active::before {
  content: "";
  position: absolute;
  top: 15px;
  width: 90px;
  height: 9px;
  background-color: rgba(197, 16, 76, 0.151) !important;
}

.store-gallery .description .content-store .nav-pills .nav-item .detail {
  color: #0f0e17;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.store-gallery .description .content-store .tab-content span.text-descripsi {
  line-height: 30px;
  font-size: 18px;
}

.store-gallery .description .content-store .tab-content table thead {
  background: #f8f5f2;
}

.store-gallery .description .content-store .tab-content table tbody:hover {
  background: #f8f5f2;
}

.store-gallery .description .content-store .tab-content table.table-detail tbody:hover {
  background-color: transparent !important;
}

.store-gallery .description .content-store .readmore {
  cursor: pointer;
  color: #e53170;
  text-decoration: underline;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.store-gallery .description .content-store h3 {
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.store-gallery .description .content-store h3::before {
  content: "";
  position: absolute;
  top: 25px;
  width: 120px;
  margin-left: 3px;
  height: 2px;
  background-color: #e53170;
}

@media (max-width: 1979.98px) {
  .store-gallery {
    margin-top: 30px !important;
  }
  .store-gallery .img-store {
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  .store-gallery .img-thumbnail {
    cursor: pointer;
    margin-bottom: 10px;
  }
  .store-gallery .img-thumbnail.active {
    border: 2px solid palevioletred;
  }
  .store-gallery .store-heading {
    margin-top: 20px;
  }
  .store-gallery .description {
    margin: 20px 0 30px;
  }
}

@media (max-width: 767.98px) {
  .store-gallery .description .detail {
    margin: 30px 0 30px;
  }
  .col-detail {
    padding: 0;
  }
  .col-detail .card {
    padding: 15px;
  }
  .product-header {
    font-size: 21px !important;
  }
}

footer {
  background: #0f0e17;
  color: #fffffe;
}

footer .child {
  color: #a7a9be;
}

footer .row-footer {
  padding: 20px 0 50px 0;
  line-height: 30px;
}

footer .row-footer .child {
  margin-bottom: 20px;
}

footer .row-footer .child a {
  color: #ff8906;
  font-weight: 500;
  text-decoration: underline;
}

footer .row-footer .child ul {
  padding: 0;
  list-style: none;
}

footer .row-footer .header {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 18px;
}

footer span.sub-footer {
  font-size: 12px;
  font-weight: lighter;
}

.card {
  padding: 20px;
  border: none;
  border-radius: 8px;
}

.store-cart .text-product-header {
  font-size: 20px;
  color: #0f0e17;
  font-weight: 500;
}

.store-cart .table-cart {
  margin-top: 30px;
  color: #2e2f3e;
  font-size: 17px;
  font-weight: 500;
}

.store-cart .table-cart .card-img {
  min-width: 100px;
  max-width: 170px;
  padding: 3px;
}

.store-cart .table-cart .card-img:hover {
  border: 1px solid #fd4771;
  padding: 2px;
  border-radius: 8px;
}

.store-cart .table-cart .cart-image {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.store-cart .table-cart .cart-image:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.store-cart .table-cart .cart-image img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.store-cart .table-cart .product-price-coret {
  text-decoration: line-through;
  color: crimson;
  font-weight: 400;
  font-size: 16px;
}

.store-cart .table-cart .total-cart {
  color: #fd4771;
  font-weight: 400;
  font-size: 18px;
}

.store-cart .table-cart .btn-remove-cart {
  background: #fd4771;
  color: white;
}

.store-cart .table-cart .btn-remove-cart:hover {
  background: #ff6589;
}

.store-cart .payment-informations {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
}

.store-cart .payment-informations .gram {
  font-weight: 500;
  font-size: 16px;
}

.store-cart .payment-informations .number {
  font-weight: 500;
  color: #03ac0e;
}

.store-cart .payment-informations .sub-title {
  font-weight: 400;
  font-size: 16px;
}

.shipping-details {
  line-height: 40px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .payment-informations .btn-success {
    margin-top: 10px;
  }
}

#dashboard-show .col-bread {
  padding: 0 !important;
}

#dashboard-show .card-body {
  padding: 20px 0;
}

#dashboard-show .order-details {
  padding: 0;
}

#dashboard-show .card-img {
  max-width: 250px;
  padding: 3px;
}

#dashboard-show .card-img:hover {
  border: 1px solid #fd4771;
  padding: 1.5px;
  border-radius: 8px;
}

#dashboard-show .card-img .image-detail-order {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

#dashboard-show .card-img .image-detail-order:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#dashboard-show .card-img .image-detail-order img {
  width: 100% !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#dashboard-show .store-breadcrumbs {
  margin-top: -510px !important;
}

#dashboard-show .dashboard-heading-show {
  margin-top: -100px;
  margin-bottom: 50px;
}

#dashboard-show .dashboard-heading-show .dashboard-title {
  font-style: normal;
  font-weight: normal;
  color: #fffffe;
}

#dashboard-show .dashboard-heading-show .dashboard-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #9191a9;
}

#dashboard-show .dashboard-content-show {
  margin-bottom: 100px !important;
}

#dashboard-show .dashboard-content-show h5 {
  color: #232946;
}

#dashboard-show .dashboard-content-show .product-title {
  font-weight: normal;
  font-size: 16px;
  color: #c5c5c5;
  line-height: 28px;
}

#dashboard-show .dashboard-content-show .product-subtitle {
  line-height: 30px;
  font-weight: 500;
  font-size: 18px;
  color: #232946;
  margin-bottom: 20px;
}

#dashboard-show .shadow {
  padding: 10px;
}

#dashboard-show .card-list {
  background: #e5e5e5;
  margin-bottom: 10px;
}

#dashboard-show .card-list .card-body {
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #0c0d36;
}

#dashboard-show .card-list .card-body .img-list {
  width: 70px !important;
}

#dashboard .store-breadcrumbs .breadcrumb {
  margin-top: -100px !important;
}

#dashboard .dashboard-heading .sub {
  margin-top: 20px;
}

#dashboard .dashboard-heading .dashboard-title {
  font-style: normal;
  font-weight: normal;
  color: #fffffe;
}

#dashboard .dashboard-heading .dashboard-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #9191a9;
}

#dashboard .dashboard-content .border-0 {
  padding: 10px 0px;
}

#dashboard .dashboard-content .nav-pills .nav-link {
  font-weight: normal;
  font-size: 18px;
  color: #9191a9;
  border-radius: 0;
  padding: 0 5px;
}

#dashboard .dashboard-content .nav-pills .nav-link.active {
  font-weight: 500;
  font-size: 18px;
  color: #0c0d36;
  border-bottom: 3px solid #0c0d36;
  background: none;
}

#dashboard .dashboard-content .gallery-container .delete-gallery {
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
}

#dashboard .dashboard-content .product-title {
  font-weight: normal;
  font-size: 16px;
  color: #c5c5c5;
  line-height: 28px;
}

#dashboard .dashboard-content .product-subtitle {
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  color: #0c0d36;
  margin-bottom: 20px;
}

#dashboard .card-list {
  background: #e5e5e5;
  margin-bottom: 10px;
}

#dashboard .card-list .card-body {
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #0c0d36;
}

#dashboard .card-list .card-body .img-list {
  width: 70px !important;
}

.midtrans {
  margin-top: 100px !important;
}

.midtrans .text-header {
  font-weight: bold;
  font-size: 32px;
  color: #123049;
}

.midtrans .content {
  margin-top: 20px;
  color: #7686ab;
}

.midtrans .content ul {
  padding-left: 0;
}

.midtrans .content ul li {
  list-style: none;
  margin-top: 20px;
  color: #232f51;
  font-weight: 500;
}

.midtrans .content ul li img {
  margin-right: 20px !important;
}

.keamanan {
  margin-top: 100px;
}

.keamanan .col-info .title {
  color: #123049;
  font-weight: 500;
  font-size: 16px;
}

.keamanan .col-info .subtitle {
  color: #7686ab;
  font-size: 14px;
  margin-top: 10px;
}

.keamanan .col-info .img-info {
  width: 98px;
  height: 98px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.keamanan .col-info .img-info img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #fff;
}

.img-carousel {
  margin-top: 120px;
}

.img-carousel .col-img {
  padding: 0;
}

.img-carousel img {
  max-height: 450px;
}

.categories-image img {
  border-radius: 10px;
}

.category-all {
  margin-top: -15px !important;
}

.all-category-product {
  margin-bottom: 30px;
}

.row {
  margin: 0;
  padding: 0;
}

.header-title {
  margin-top: 50px;
}

.header-title .all-category-product {
  color: #fffffe;
}

.component-categories {
  border-radius: 8px;
  background-color: #f4f4f4;
  padding: 30px 30px 10px 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.component-categories:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  text-decoration: none;
}

.component-categories .categories-text {
  font-size: 1.14286rem;
  text-align: center;
  color: #0f0e17;
  margin-top: 12px;
}

#category-show {
  margin-top: -400px !important;
}

@media (max-width: 774px) {
  #category-show span.text-product-header {
    font-size: 18px;
  }
  #category-show div.alert h4 {
    font-size: 18px;
  }
}

.header-search {
  margin-top: -50px;
}

.header-search .text-product-header {
  line-height: 35px;
  font-weight: 700;
  font-size: 24px;
  color: #0f0e17;
}

.header-search .col-search {
  padding: 0;
}

.header-search .search_box {
  margin-top: 15px;
  background: #f8f5f2;
  position: relative;
  padding: 15px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-search .search_box .input_search {
  outline: none;
  border: 0;
  background: #fec7d7;
  border-radius: 50px;
  padding: 15px 20px;
  width: 100%;
  height: 50px;
  position: relative;
  color: #fff;
}

.header-search ::-webkit-input-placeholder {
  color: #fff;
}

.header-search :-ms-input-placeholder {
  color: #fff;
}

.header-search ::-ms-input-placeholder {
  color: #fff;
}

.header-search ::placeholder {
  color: #fff;
}

.header-search ::-webkit-input-placeholder {
  color: #fff;
}

.header-search :-ms-input-placeholder {
  color: #fff;
}

.col-product {
  padding: 0 20px;
  margin-bottom: 20px;
}

.col-product .component-product:hover {
  text-decoration: none;
}

.col-product .component-product span.badge {
  margin-top: -40px;
}

.col-product .component-product .discount {
  color: #e53170;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}

.col-product .component-product .product-thumbnail {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.col-product .component-product .product-thumbnail:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.col-product .component-product .product-thumbnail img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.col-product .component-product .product-text {
  font-size: 18px;
  color: #2e2f3e;
  font-weight: 500;
  margin-top: 12px;
}

.col-product .component-product .product-price {
  margin-top: -10px;
  font-weight: 500;
  font-size: 15px;
  color: #0f0e17;
}

.show-all {
  font-size: 15px;
  margin-bottom: 30px;
  color: #2e2f3e;
  font-weight: 600;
  text-decoration: underline;
}

.text-product-header {
  line-height: 35px;
  font-weight: 700;
  font-size: 24px;
  color: #0f0e17;
}

@media (max-width: 510px) {
  .col-product {
    padding: 0 10px;
  }
  .col-product .component-product span {
    float: none !important;
    margin-bottom: 15px;
  }
  .col-product .component-product .discount {
    font-size: 14px;
    margin-top: -10px;
  }
  .col-product .component-product:hover {
    text-decoration: none;
  }
  .col-product .component-product .product-thumbnail {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  .col-product .component-product .product-thumbnail:hover img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .col-product .component-product .product-thumbnail img {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .col-product .component-product .product-text {
    font-size: 18px;
    color: #0c0d36;
    margin-top: 12px;
  }
  .col-product .component-product .product-price {
    margin-top: -10px;
    font-weight: 500;
    font-size: 15px;
    color: #0f0e17;
  }
}

.store-breadcrumbs {
  font-size: 18px;
}

.store-breadcrumbs .breadcrumb {
  background-color: transparent;
  padding: 15px 5px;
}

.store-breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  padding: 0 1rem 0 1rem;
}

.store-breadcrumbs li.breadcrumb-item {
  margin-bottom: 15px !important;
}

.store-breadcrumbs a {
  color: #fffffe;
}

.store-breadcrumbs .breadcrumb-item.active {
  color: #a7a9be;
}

@media (max-width: 774px) {
  .breadcrumb {
    margin-top: -70px;
  }
  .store-breadcrumbs {
    font-size: 18px;
  }
  .store-breadcrumbs .breadcrumb {
    background-color: transparent;
    padding: 15px 5px;
  }
  .store-breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 0.3rem 0 0.3rem;
  }
  .store-breadcrumbs li.breadcrumb-item {
    margin-bottom: 15px !important;
  }
  .store-breadcrumbs a {
    color: #fffffe;
  }
  .store-breadcrumbs .breadcrumb-item.active {
    color: #a7a9be;
  }
}

.store-breadcrumbs-show {
  font-size: 18px;
  margin-top: -580px;
  margin-bottom: -140px;
}

.store-breadcrumbs-show .breadcrumb {
  background-color: transparent;
  padding: 15px 5px;
}

.store-breadcrumbs-show .breadcrumb-item + .breadcrumb-item::before {
  padding: 0 1rem 0 1rem;
}

.store-breadcrumbs-show li.breadcrumb-item {
  margin-bottom: 15px !important;
}

.store-breadcrumbs-show a {
  color: #fffffe;
}

.store-breadcrumbs-show .breadcrumb-item.active {
  color: #a7a9be;
}

@media (max-width: 774px) {
  .store-breadcrumbs-show {
    font-size: 18px;
    margin-top: -500px;
    margin-bottom: -140px;
  }
  .store-breadcrumbs-show .breadcrumb {
    background-color: transparent;
    padding: 15px 5px;
  }
  .store-breadcrumbs-show .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 0.3rem 0 0.3rem;
  }
  .store-breadcrumbs-show li.breadcrumb-item {
    margin-bottom: 15px !important;
  }
  .store-breadcrumbs-show a {
    color: #fffffe;
  }
  .store-breadcrumbs-show .breadcrumb-item.active {
    color: #a7a9be;
  }
}

.slide-fade-enter-active {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0.5;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Accordion styles */
.term h2 {
  margin-bottom: 20px;
  text-align: center !important;
}

.term p,
.term .tab-content {
  font-size: 18px;
  line-height: 30px;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tabs .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tabs .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs .tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.tabs .tab-label:hover {
  background: #1a252f;
}

.tabs .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tabs .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tabs .tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

.tabs .tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 150vh;
  padding: 1em;
}
/*# sourceMappingURL=main.css.map */