@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

@import "global";
@import "navbar";
@import "home";
@import "detail";
@import "footer";
@import "cart";

@import "components/carousel";
@import "components/categories";
@import "components/products";
@import "components/breadcrumbs";
@import "components/transition";
